body { margin: 0; height: 100vh; }

/*
  LOADER
 */
#loader {
  height: 100vh;
  width: 100vw;
  display: none;
  place-items: center;
  position: fixed;
  left: 0; right: 0; bottom: 0; top: 0;
  background-color: hsla(0, 0%, 50%, 0.5);
}

/*
  SEARCH
 */
#searchResultsContainer article {
  width: 100%;
  display: flex;
  gap: 16px;
  cursor: pointer;
}

#searchResultsContainer article:hover {
  background-color: hsl(0, 0%, 90%);
}

#searchResultsContainer article .thumbnail {
  grid-column: 1;
}

#searchResultsContainer article .thumbnail img {
  width: 100px;
}

#searchResultsContainer article :where(h1, h2) {
  margin: 0;
}

#searchResultsContainer article .content {
  align-self: center;
}

#searchResultsContainer a {
  all: unset;
}