<section class="section">
  <div class="container">
    <h1 class="title">
      {{AppName}}
    </h1>
    <p class="subtitle">
      The intelligent Lyrics <strong>Search Engine</strong>!
    </p>
    <form id="searchLyrics">
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="text" name="songName" id="songName" placeholder="Search for a song">
        </div>
        <div class="control">
          <input type="submit" value="zoek" class="button is-success">
        </div>
      </div>
    </form>
  </div>
</section>